.logo{
  text-align: center;
  background-color: rgb(49, 109, 179);
}

#character-bar {
  height: 15vh;
  background: rgb(49, 109, 179);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3vh;
}

#character-bar span {
  padding: 1%;
  height: 80%;
  width: 8vw;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  align-items: center;
  border-radius: 2em;
  border: 1px solid white;
}

.characterInfo{
  height: 550px;
  padding: 30px;
  font-size: 24px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border: dotted;
  text-align: center;
}

input[type="submit"], button{
  background-color: rgb(49, 109, 179);
  color: white;
  font-size: 18px;
  border-radius: 6px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"]{
  height: 4vh;
  font-size: 3vh;
}

#image{
  width: 300px;
  height: 300px;
}
